<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("../partials/nav") %>
    <main>
      <!-- *********DISPLAY ALL WISHLISTS********* -->
      <article class="message is-primary is-medium">
        <div class="message-header">
          Edit or Delete Item:
          <form action="/wishlist/wishlist-index/<%=wishlist._id%>?_method=DELETE" method="post">
            <button class="delete is-large" type="submit"></button>
          </form>
        </div>
        <div class="message-body">
          <%= wishlist.item %>
        </div>
      </article>
      <br/>


      <!-- **********EDIT ITEM FORM**************** -->
      <form action="/wishlist/wishlist-index/<%=wishlist._id%>?_method=PUT" method="post">
        <input type="text" value="<%=wishlist.item %>" name="text" />
        <br/>
        <br/>
        <input class="button is-primary" type="submit" value="Edit Item" />
        <a class="button is-danger is-outlined" href="/wishlist/wishlist-index">
          Back
        </a>
      </form>


    </main>
  </body>
</html>