<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <main>
        <!-- *********DISPLAY ALL WISHLISTS********* -->
        <h1 class="title">Wishlists</h1>
        <a href="/auth/logout"><button class="button">Logout</button></a>
        <h2><%= wishlist.item %></h2>

      <!-- **********EDIT ITEM FORM**************** -->
      <form action="/wishlist/wishlist-index/<%=wishlist._id%>?_method=PUT" method="post">
        <input type="text" value="<%=wishlist.item %>" name="text" />
        <input type="submit" value="Edit Item" />
      </form>
      <form action="/wishlist/wishlist-index/<%=wishlist._id%>?_method=DELETE" method="post">
        <!-- <input type="submit" value="Delete Item" /> -->
        <button class="delete" type="submit"></button>
      </form>
    </main>
  </body>
</html>