<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
      <!-- THE NAV TAG PARTIAL -->
      <%- include("../partials/nav") %>
    <main>
        <!-- *********DISPLAY ALL ITEMS ON WISHLISTS********* -->
        
        <h1 class="subtitle is-3"><%=user.username %>'s Wishlist:</h1>
            <ul>
                <% for (item of user.wishlist) { %>
                    <li><a href="/wishlist/wishlist-index/<%=item._id%>"><%= item.item %></li></a>
                <% } %>
            </ul>
        <br>
        <a href="/wishlist/wishlist-index/new"><button class="button is-primary">Add New Item</button></a>
    </main>
  </body>
</html>